
---
<!DOCTYPE html>
<html>
<head>
    <title>Dockerized Nginx</title>
</head>
<body style="text-align: center; margin-top: 100px;">
    <h1>{{ html_message }}</h1>
    <p>Served from inside a Docker container 🚀</p>
</body>
</html>


---
